node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.swp
*.swo
.vscode-test
.nyc_output
coverage
.angular
.next
out
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

