version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped

    ports:
      - "9000:9000"   # MinIO API
      - "9001:9001"   # MinIO Console

    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123

    volumes:
      - minio_data:/data

    command: server /data --console-address ":9001"

volumes:
  minio_data:
